.App {
  text-align: center;
  /* background: #000; */
  background-image: url('./photo-2.jpg');
  background-size: cover;
  /* background-repeat: no-repeat;
  background-position: center;
  
  
  

  
  
  /* height: 105vw; */

    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* max-width: 1200px; */
    /* margin: 0 auto;
    padding: 20px; */ 
  }

